@import url(https://fonts.googleapis.com/css?family=Lato:400,700);@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);@import url(https://use.fontawesome.com/releases/v5.6.0/css/all.css);.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');
body {
	margin: 0 auto;
	height: 100%;

	/* iOS Safari */
	-webkit-touch-callout: none;

	/* Safari */
	-webkit-user-select: none;

	/* Konqueror HTML */
	-khtml-user-select: none;

	/* Old versions of Firefox */
	-moz-user-select: none;

	/* Internet Explorer/Edge */
	-ms-user-select: none;

	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	user-select: none;
}
.logo__text {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.zoom-effect {
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}

.zoom-effect:hover {
  transform: scale(1.1);
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.navbar {
  background-color: #000000;
  padding: 0.5rem;
  
  border-bottom: 3px solid #FFD700;

}

.nav-link {
  color: #FFFFFF !important;
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FFD700 !important;
}

/* Regole di media query per rendere responsivo il menu */
@media (max-width: 768px) {
  .navbar {
      padding: 0;
  }

  .navbar-brand {
      margin-left: 1rem;
  }

  .navbar-toggler {
      margin-right: 1rem;
  }

  .navbar-collapse {
      margin-top: 1rem;
      text-align: center;
  }

  .navbar-nav {
      display: block;
  }

  .nav-item {
      margin-bottom: 0.5rem;
  }
}
.header {
  margin-top: 60px;
}

slider-direction {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: none;
  color: #fff;
  font-size: 16px;
  z-index: 999;
  display: none;
}


.slider-progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8ecc3b;
  height: 5px;
  -webkit-animation: myfirst 4000ms ease-in-out;
          animation: myfirst 4000ms ease-in-out;
}
@-webkit-keyframes myfirst {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes myfirst {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.s-tb {
  display: table;
  height: 85%;
  width: 100%;
  float: left;
}

.s-tb-c {
  display: table-cell;
  vertical-align: middle;
  padding: 0 !important;
}

.t-cn {
  text-align: center;
}
.slider-progress {
  position: absolute;
  top: 0;
  left: 0;
  background: #00d646;
}

.small-content-down,
.small-content-up {
  text-align: center;
  letter-spacing: 7px;
  color: #CECECE;
  font-size: 25px;
}

.big-title {
  font-family: "Permanent Marker", cursive;
  color: #CECECE !important;
  font-size: 80px;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

.big-title #target {
  display: none;
}

.small-content-down {
  font-size: 35px;
  opacity: 0.8;
}

.small-content-down span {
  opacity: 0;
}
.small-content-down,
.small-content-up {
  font-size: 15px;
}
.fadeInDown {
  -webkit-animation: fadeInDown;
          animation: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  50% {
    opacity: 0.5;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }

  50% {
    opacity: 0.5;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.hero {
    
    background-position: center;
    background-size: cover;
    height:auto;
 
}

.highlight{
  font-weight: bold;
  font-size: 20px;
  color: white;
}
h1{
    padding-left:15px;
    font-weight: 400;
}

.herotext{
    padding-top: 160px!important;
}

.slider{
    padding: 60px 140px;
}
.container-fluid {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.card{
    border: none;
    min-width: 300px;
    margin-top: 30px;
  
}




.view-code-btn a {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.view-code-btn a:hover {
  background-color: #0069d9;
  color: #fff;
}

.cvBtn {
  margin-top: 25px;
  text-align: center;
}

.cvBtn a {
  background-color: #00FF00; /* verde brillante */
  color: #FFFFFF; 
  border: none;
  text-transform: uppercase;
  display: inline-block; 
  margin-top: 10px;
  margin-right: auto; 
  margin-left: auto; 
}


.cvBtn a:hover{
  background-color: #00d646;
  color: white;
  border: none;
  text-decoration: none;
}

 .box {
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    margin-bottom: 2em;
    padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.tech{
  margin-right: 10px;
  
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;

}

  .skills img {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 500px) {
  .cvBtn {
      margin-top: 0 !important;
  }
}


.logo {
    align-items: center;
    justify-content: center;
    padding-top: 70px;
  }
  
  .sl {
  
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  
  .sl .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  .sl .slide {
    height: 100px;
    width: 250px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .bi{
    color: #ffffff!important;
    font-size: 50px;
  }

  .bi:hover{
    color: #17A2B8!important;
    transition: 0.4s;
  }
  li a{
    text-decoration: none;
  }

  li a:hover{
    color: white!important;
    text-decoration: none;
  }

  @media screen and (max-width: 576px) {
    .slider{
      padding:40px 90px;
    }
  }

  @media screen and (max-width: 485px) {
    .slider{
      padding:10px 0px;
    }
  }

  @media screen and (max-width: 767px) {
    .footer{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

 
  @media screen and (max-width: 767px) {
    footer{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 767px) {
    footer ul{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-right: 0px!important;
    }
  }

 .footer{
  background-color: #292a2d;
 }


  
